# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
data/
!data/.gitkeep
*.csv
*.json
*.parquet

# DBT
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
dags/__pycache__/
dags/logs/
dags/temp/

# Logs
*.log

# Environment variables
.env
.env.local

dbt_transformasi_dan_pemodelan_data/dev.duckdb
dbt_transformasi_dan_pemodelan_data/inventory.duckdb